@using static WebApplication4.Models.Stock
@model WebApplication4.Models.Stock

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Stock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PickedItem" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             
            <h1>What Item Do you Want to Add</h1>
         
            <div class="form-group">
                <label asp-for="ItemId" class="control-label"></label>
                <select asp-for="ItemId" class="form-control" asp-items="ViewBag.ItemId"></select>
                <span asp-validation-for="ItemId" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-top: 3%;">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
