@model WebApplication4.Models.Camp

@{
    ViewData["Title"] = "Create";
    DateTime today = DateTime.Now;

    DateTime NextMonday = today.AddDays(1);

    while(NextMonday.DayOfWeek != DayOfWeek.Monday)
    {
        NextMonday = NextMonday.AddDays(1);

  
    }
    DateTime min = NextMonday;
    
}

<h1>Create</h1>

<h4>Camp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Startdate" class="control-label"></label>
                <input  asp-for="Startdate" class="form-control" type="date" min="@NextMonday.ToString("yyyy-MM-dd")" step="7" />
                <span asp-validation-for="Startdate" class="text-danger"></span>
            </div>
      
            <div class="form-group">
                <label asp-for="peoplelimt" class="control-label"></label>
                <input asp-for="peoplelimt" class="form-control" />
                <span asp-validation-for="peoplelimt" min="5" max="40" value="30" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <select asp-for="Year" class="form-control">
                    <option value="">Select Year</option>
                    <option value="10">Year 10</option>
                    <option value="12">Year 12</option>
                    <option value="13">Year 13</option>
                </select>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
